### 1. Hate-speech-and-offensive-language

Source: https://github.com/t-davidson/hate-speech-and-offensive-language

In [22]:
import pandas as pd

df = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\#2 hate-speech-and-offensive-language\labeled_data.csv")
df.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [23]:
df['class'].value_counts()

class
1    19190
2     4163
0     1430
Name: count, dtype: int64

### 2. hate-speech-dataset

Source: https://github.com/Vicomtech/hate-speech-dataset

In [6]:
from tqdm import tqdm
import pandas as pd

df = pd.read_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/#1 hate-speech-dataset/annotations_metadata.csv")

data = {}
for i in tqdm(df['file_id']):
    text = open(f"G:/My Drive/Hate Speech_Multilingual/datasets/#1 hate-speech-dataset/all_files/{i}.txt", 'r', encoding='utf-8').read()

    data[i] = [text, df[df['file_id'] == i]['label'].values[0]]

df = pd.DataFrame.from_dict(data, orient='index', columns=['text', 'label'])
df.head()

100%|██████████| 10944/10944 [05:21<00:00, 34.06it/s]

                                                         text   label
12834217_1  As of March 13th , 2014 , the booklet had been...  noHate
12834217_2  In order to help increase the booklets downloa...  noHate
12834217_3  ( Simply copy and paste the following text int...  noHate
12834217_4  Click below for a FREE download of a colorfull...    hate
12834217_5  Click on the `` DOWNLOAD ( 7.42 MB ) '' green ...  noHate

In [7]:
df['label'].value_counts()

label
noHate      9507
hate        1196
relation     168
idk/skip      73
Name: count, dtype: int64

In [15]:
df[df['label'] == 'relation']['text'].values[0:5]

array(['You are telling me that 78 % of kids under 6 in Frankfurt are all foreigners ?',
       'Jeeze its worst than the UK .',
       "So far today I 've come across the words scum , slut and bitch .",
       'All too describe my sisters .',
       'The Indian teenager was showing the Caucasian American girl how to dissolve cow dung in water , and then use a broom to spread the filth all over the floor of their house .'],
      dtype=object)

In [16]:
df[df['label'] == 'idk/skip']['text'].values[0:5]

array(['Glædelig jul !',
       "Det er forresten en ting til Órkneyjar vil si deg , `` Tack så mycket . ''",
       'Jag har inte själv varit med någon gång men jag har stor respekt för de som deltar .',
       'Suomalainen totta kai !',
       'ApÃ © ro gÃ © ant : trois jeunes soupÃ § onnÃ © s de viol https : //www.stormfront.org/forum/t809905/'],
      dtype=object)

### 3. Twitter Sentiment Analysis

Source: https://www.kaggle.com/datasets/arkhoshghalb/twitter-sentiment-analysis-hatred-speech

In [27]:
import pandas as pd

df = pd.read_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/#3 Twitter Sentiment Analysis/train.csv")
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [28]:
df['label'].value_counts()

label
0    29720
1     2242
Name: count, dtype: int64

### 4. HASOC 2019

Source: https://hasocfire.github.io/hasoc/2019/dataset.html

In [1]:
import pandas as pd

df = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\#4 HASOC-2019\english_dataset.tsv", sep='\t')

df.head()

,text_id,text,task_1,task_2,task_3
0,hasoc_en_1,#DhoniKeepsTheGlove | WATCH: Sports Minister K...,NOT,NONE,NONE
1,hasoc_en_2,@politico No. We should remember very clearly ...,HOF,HATE,TIN
2,hasoc_en_3,@cricketworldcup Guess who would be the winner...,NOT,NONE,NONE
3,hasoc_en_4,Corbyn is too politically intellectual for #Bo...,NOT,NONE,NONE
4,hasoc_en_5,All the best to #TeamIndia for another swimmin...,NOT,NONE,NONE

In [2]:
df['task_1'].value_counts()

task_1
NOT    3591
HOF    2261
Name: count, dtype: int64