### 1. Twitter Sentiment Analysis

Dataset Classes (label):

    0 - normal
    1 - racist/sexist

Source: https://www.kaggle.com/datasets/arkhoshghalb/twitter-sentiment-analysis-hatred-speech

In [196]:
import pandas as pd

df1 = pd.read_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/Final Datasets/#1 Twitter Sentiment Analysis/train.csv")
df1.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [197]:
df1['class'] = 'normal'
df1 = df1[['tweet', 'class', 'label']]
df1.columns = ['text', 'class', 'aspect(category)']
df1['aspect(category)'] = df1['aspect(category)'].replace({1: 'Race/Ethnicity', 0 : ''})
df1.loc[df1['aspect(category)'] == 'Race/Ethnicity', 'class'] = 'hateful'
df1['aspect(category)'].value_counts()

aspect(category)
                  29720
Race/Ethnicity     2242
Name: count, dtype: int64

In [198]:
df1.head()

                                                text   class aspect(category)
0   @user when a father is dysfunctional and is s...  normal
1  @user @user thanks for #lyft credit i can't us...  normal
2                                bihday your majesty  normal
3  #model   i love u take with u all the time in ...  normal
4             factsguide: society now    #motivation  normal

In [199]:
df1['class'].value_counts()

class
normal     29720
hateful     2242
Name: count, dtype: int64

### 2. HASOC 2019 (English)

Dataset Classes (label):

    TIN - Targeted Insult
    UNT - Untargeted 

NOTE: i extract column task 3 only data contains this and exlucded normal class data.

Source: https://hasocfire.github.io/hasoc/2019/dataset.html

In [157]:
import pandas as pd

df2 = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#2 HASOC-2019\english_dataset.tsv", sep='\t')
df2.head()

,text_id,text,task_1,task_2,task_3
0,hasoc_en_1,#DhoniKeepsTheGlove | WATCH: Sports Minister K...,NOT,NONE,NONE
1,hasoc_en_2,@politico No. We should remember very clearly ...,HOF,HATE,TIN
2,hasoc_en_3,@cricketworldcup Guess who would be the winner...,NOT,NONE,NONE
3,hasoc_en_4,Corbyn is too politically intellectual for #Bo...,NOT,NONE,NONE
4,hasoc_en_5,All the best to #TeamIndia for another swimmin...,NOT,NONE,NONE

In [158]:
df2['task_3'].value_counts()

task_3
NONE    3591
TIN     2041
UNT      220
Name: count, dtype: int64

In [159]:
df2 = df2[(df2['task_3'] == 'TIN') | (df2['task_3'] == 'UNT')][['text', 'task_3']]
df2.columns = ['text', 'aspect(category)']
df2['class'] = 'offensive'
df2 = df2[['text', 'class', 'aspect(category)']]
df2['aspect(category)'] = df2['aspect(category)'].map({'TIN': 'Targeted Insult', 'UNT': 'Untargeted'})
df2.head()

,text,class,aspect(category)
1,@politico No. We should remember very clearly ...,offensive,Targeted Insult
7,#ADOS #trendingnow #blacklivesmatter #justice ...,offensive,Targeted Insult
11,I don’t know how much more I can take! 45 is a...,offensive,Targeted Insult
15,Good work @ICC keep going just destroy the who...,offensive,Targeted Insult
23,#ShameOnICC 1. ICC on Dhoni's gloves ...,offensive,Targeted Insult

In [161]:
df2['aspect(category)'].value_counts()

aspect(category)
Targeted Insult    2041
Untargeted          220
Name: count, dtype: int64

### 3. Multilingual and Multi-Aspect (MLMA) Hate Speech

Dataset Classes (class, aspect(category)):

    class - contains (offensive, hateful and normal)
    aspect(category) - (Origin/Nationality, Gender/Sexual, Disability, Religion) 

Source: https://github.com/HKUST-KnowComp/MLMA_hate_speech/blob/master/hate_speech_mlma.zip

In [49]:
import pandas as pd

df3 = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#3 MLMA_hate_speech\hate_speech_mlma\en_dataset_with_stop_words.csv")
df3.head()

,HITId,tweet,sentiment,directness,annotator_sentiment,target,group
0,0,If America had another 8 years of Obama's ideo...,fearful_abusive_hateful_disrespectful_normal,indirect,anger_fear_shock_sadness_disgust,origin,other
1,1,Most Canadians have never met seen or associat...,offensive,indirect,sadness_indifference,disability,special_needs
2,2,Hahaha grow up faggot @URL,offensive,indirect,shock_disgust,sexual_orientation,women
3,3,@user queue is fucking retarded it makes every...,offensive_hateful,direct,shock_disgust,disability,special_needs
4,4,@user Que ce ne soit pas des Burundais refugie...,hateful_normal,indirect,shock_disgust,origin,other

In [50]:
df3 = df3[['tweet', 'sentiment', 'target']]
df3.columns = ['text', 'class', 'aspect(category)']
df3.head()

,text,class,aspect(category)
0,If America had another 8 years of Obama's ideo...,fearful_abusive_hateful_disrespectful_normal,origin
1,Most Canadians have never met seen or associat...,offensive,disability
2,Hahaha grow up faggot @URL,offensive,sexual_orientation
3,@user queue is fucking retarded it makes every...,offensive_hateful,disability
4,@user Que ce ne soit pas des Burundais refugie...,hateful_normal,origin

In [51]:
temp = df3[(df3['class'] == 'offensive') | (df3['class'] == 'offensive_hateful') | (df3['class'] == 'offensive_disrespectful') | (df3['class'] == 'abusive_offensive') | (df3['class'] == 'offensive_normal') | (df3['class'] == 'normal') | (df3['class'] == 'hateful') | (df3['class'] == 'hateful_disrespectful')]

temp['class'] = temp['class'].replace(['offensive_hateful', 'offensive_disrespectful', 'abusive_offensive', 'offensive_normal'], 'offensive')
temp['class'] = temp['class'].replace(['hateful_disrespectful'], 'hateful')

df3 = temp.copy()
df3['class'].value_counts()

C:\Users\Abdul Manaf\AppData\Local\Temp\ipykernel_17912\401278141.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['class'] = temp['class'].replace(['offensive_hateful', 'offensive_disrespectful', 'abusive_offensive', 'offensive_normal'], 'offensive')
C:\Users\Abdul Manaf\AppData\Local\Temp\ipykernel_17912\401278141.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['class'] = temp['class'].replace(['hateful_disrespectful'], 'hateful')

class
offensive    3580
normal        661
hateful       411
Name: count, dtype: int64

In [52]:
df3.head()

,text,class,aspect(category)
1,Most Canadians have never met seen or associat...,offensive,disability
2,Hahaha grow up faggot @URL,offensive,sexual_orientation
3,@user queue is fucking retarded it makes every...,offensive,disability
5,dude i\u2019m so tired of being retarded,offensive,disability
6,Pretty sure if an employee of Philip Green cal...,offensive,other

In [53]:
df3['aspect(category)'].value_counts()

aspect(category)
origin                2024
disability             920
other                  705
gender                 524
sexual_orientation     424
religion                55
Name: count, dtype: int64

In [54]:
df3['aspect(category)'] = df3['aspect(category)'].map({
    'origin': 'Origin/Nationality',
    'religion': 'Religion',
    'disability': 'Disability',
    'sexual_orientation': 'Gender/Sexual',
    'gender': 'Gender/Sexual'
})
df3.head()

,text,class,aspect(category)
1,Most Canadians have never met seen or associat...,offensive,Disability
2,Hahaha grow up faggot @URL,offensive,Gender/Sexual
3,@user queue is fucking retarded it makes every...,offensive,Disability
5,dude i\u2019m so tired of being retarded,offensive,Disability
6,Pretty sure if an employee of Philip Green cal...,offensive,NaN

In [55]:
df3['aspect(category)'].value_counts()

aspect(category)
Origin/Nationality    2024
Gender/Sexual          948
Disability             920
Religion                55
Name: count, dtype: int64

In [56]:
df3['class'].value_counts()

class
offensive    3580
normal        661
hateful       411
Name: count, dtype: int64

### 4. Predicting the Type and Target of Offensive Posts in Social Media

Dataset Classes (class, aspect(category)):

    class - contains (offensive, hateful and normal)
    aspect(category) - (Origin/Nationality, Gender/Sexual, Disability, Religion) 

Source: https://www.kaggle.com/datasets/feyzazkefe/olid-dataset

In [136]:
import pandas as pd

a1 = pd.read_csv(r"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#4 OLID dataset\testset-levela.tsv", delimiter='\t')
a2 = pd.read_csv(r"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#4 OLID dataset\labels-levela.csv", header=None)
a2.columns = ['id', 'label']
df4_task_a = pd.merge(a1, a2, on='id', how='inner')
df4_task_a.head()

      id                                              tweet label
0  15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...   OFF
1  27014  #ConstitutionDay is revered by Conservatives, ...   NOT
2  30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...   NOT
3  13876  #Watching #Boomer getting the news that she is...   NOT
4  60133  #NoPasaran: Unity demo to oppose the far-right...   OFF

In [137]:
df4_task_a['label'].value_counts()

label
NOT    620
OFF    240
Name: count, dtype: int64

In [138]:
import pandas as pd

a3 = pd.read_csv(r"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#4 OLID dataset\testset-levelb.tsv", delimiter='\t')
a4 = pd.read_csv(r"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#4 OLID dataset\labels-levelb.csv", header=None)
a4.columns = ['id', 'aspect(category)']
df4_task_b = pd.merge(a3, a4, on='id', how='inner')
df4_task_b.head()

      id                                              tweet aspect(category)
0  15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...              TIN
1  60133  #NoPasaran: Unity demo to oppose the far-right...              TIN
2  83681           . . . What the fuck did he do this time?              TIN
3  65507  @USER Do you get the feeling he is kissing @US...              TIN
4  12588                        @USER Nigga ware da hits at              UNT

In [139]:
df4_task_b['aspect(category)'].value_counts()

aspect(category)
TIN    213
UNT     27
Name: count, dtype: int64

In [140]:
import pandas as pd

a5 = pd.read_csv(r"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#4 OLID dataset\testset-levelc.tsv", delimiter='\t')
a6 = pd.read_csv(r"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#4 OLID dataset\labels-levelc.csv", header=None)
a6.columns = ['id', 'label']
df4_task_c = pd.merge(a5, a6, on='id', how='inner')
df4_task_c.head()

      id                                              tweet label
0  15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...   OTH
1  60133  #NoPasaran: Unity demo to oppose the far-right...   GRP
2  83681           . . . What the fuck did he do this time?   IND
3  65507  @USER Do you get the feeling he is kissing @US...   OTH
4  34263  #StopKavanaugh he is liar like the rest of the...   IND

In [141]:
df4_task_c['label'].value_counts()

label
IND    100
GRP     78
OTH     35
Name: count, dtype: int64

In [142]:
len(df4_task_a), len(df4_task_b), len(df4_task_c)

(860, 240, 213)

In [143]:
df4_task_b['tweet'].iloc[0] in df4_task_a['tweet'].values

True

In [144]:
df4 = df4_task_b.copy()
df4['class'] = None
task_a_dict = dict(zip(df4_task_a['tweet'], df4_task_a['label']))

def get_label(tweet):
    return task_a_dict.get(tweet, None)

df4['class'] = df4['tweet'].apply(get_label)
df4 = df4[['tweet', 'class', 'aspect(category)']]
df4['class'] = df4['class'].replace('OFF', 'offensive')
df4['aspect(category)'] = df4['aspect(category)'].map({'TIN': 'Targeted Insult', 'UNT': 'Untargeted'})
df4.columns = ['text', 'class', 'aspect(category)']
df4.head()

,text,class,aspect(category)
0,#WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...,offensive,Targeted Insult
1,#NoPasaran: Unity demo to oppose the far-right...,offensive,Targeted Insult
2,. . . What the fuck did he do this time?,offensive,Targeted Insult
3,@USER Do you get the feeling he is kissing @US...,offensive,Targeted Insult
4,@USER Nigga ware da hits at,offensive,Untargeted

In [145]:
df4['class'].value_counts()

class
offensive    240
Name: count, dtype: int64

In [146]:
df4['aspect(category)'].value_counts()

aspect(category)
Targeted Insult    213
Untargeted          27
Name: count, dtype: int64

### 5. Cyberbully Detection Dataset

Dataset Classes (class, aspect(category)):

    class - contains (offensive, hateful and normal)
    aspect(category) - (Origin/Nationality, Gender/Sexual, Disability, Religion) 

Source: https://www.kaggle.com/datasets/momo12341234/cyberbully-detection-dataset

In [132]:
import pandas as pd

df5 = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#5 Cyberbully Detection Dataset\cb_multi_labeled_balanced.csv")
df5.head()

                                                text              label
0  @ZubearSays Any real nigga isn't letting this ...     ethnicity/race
1  @MoradoSkittle @prolifejewess @DAConsult @Kell...  not_cyberbullying
2        the only thing i wish, i wish a nigga would     ethnicity/race
3  You saudias are not friends of Muslim idiots c...           religion
4  @JaydenT2399 @TractorLaw @holmes_gael @erconge...           religion

In [133]:
df5.columns = ['text', 'aspect(category)']
df5 = df5[df5['aspect(category)'] != 'not_cyberbullying']

df5['aspect(category)'] = df5['aspect(category)'].map({
    'ethnicity/race': 'Race/Ethnicity',
    'religion': 'Religion',
    'gender/sexual': 'Gender/Sexual',
})

df5['aspect(category)'].value_counts()

aspect(category)
Race/Ethnicity    17000
Gender/Sexual     17000
Religion          15990
Name: count, dtype: int64

In [134]:
df5['class'] = 'hateful'
df5 = df5[['text', 'class', 'aspect(category)']]
df5.head()

                                                text    class aspect(category)
0  @ZubearSays Any real nigga isn't letting this ...  hateful   Race/Ethnicity
2        the only thing i wish, i wish a nigga would  hateful   Race/Ethnicity
3  You saudias are not friends of Muslim idiots c...  hateful         Religion
4  @JaydenT2399 @TractorLaw @holmes_gael @erconge...  hateful         Religion
5  @areyalldizzy @soobroll wait its so bad………. th...  hateful   Race/Ethnicity

-------------

In [206]:
df = pd.concat([df1, df2, df3, df4, df5])
df.head()

                                                text   class aspect(category)
0   @user when a father is dysfunctional and is s...  normal
1  @user @user thanks for #lyft credit i can't us...  normal
2                                bihday your majesty  normal
3  #model   i love u take with u all the time in ...  normal
4             factsguide: society now    #motivation  normal

In [207]:
df['class'].value_counts()

class
hateful      52643
normal       30381
offensive     6081
Name: count, dtype: int64

In [208]:
df['aspect(category)'].value_counts()

aspect(category)
                      29720
Race/Ethnicity        19242
Gender/Sexual         17948
Religion              16045
Targeted Insult        2254
Origin/Nationality     2024
Disability              920
Untargeted              247
Name: count, dtype: int64

In [210]:
df.drop_duplicates(subset=['class', 'aspect(category)'])[['text', 'class', 'aspect(category)']]

,text,class,aspect(category)
0,@user when a father is dysfunctional and is s...,normal,
13,@user #cnn calls #michigan middle school 'buil...,hateful,Race/Ethnicity
1,@politico No. We should remember very clearly ...,offensive,Targeted Insult
134,Fck the US tho and #fucktrump https://t.co/Wyc...,offensive,Untargeted
1,Most Canadians have never met seen or associat...,offensive,Disability
2,Hahaha grow up faggot @URL,offensive,Gender/Sexual
6,Pretty sure if an employee of Philip Green cal...,offensive,NaN
7,@user @user Btw. Are we now allowed to say \sh...,normal,Origin/Nationality
10,@user @user To losely quote Trump/Trumpers. We...,offensive,Origin/Nationality
16,@user Are you okay with giving benefits to ill...,hateful,Origin/Nationality
38,@user Yes retarded not me your leader the pape...,hateful,Disability
40,I\u2019m so done dealing with little bitches. ...,normal,Gender/Sexual
54,@user @user in second grade i was called a dir...,offensive,Religion
125,omg tea! using these terms can hurt and offend...,normal,Disability
139,If you want to prove to all who know you just ...,normal,NaN
170,I'm sick of seeing your face on my news feed y...,hateful,NaN
219,@user It\u2019s better than being a faggot,hateful,Gender/Sexual
698,@user I wanna kill em raghead style pour acid ...,normal,Religion
940,casuallyfantastic2001: realisticrecovery: anyw...,hateful,Religion

In [211]:
df.to_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/English_Curated_Dataset/english_curated(multi).csv", index=False)

In [212]:
df.to_csv(f"english_curated(multi).csv", index=False)