### 1. Twitter Sentiment Analysis

Dataset Classes (label):

    0 - normal
    1 - racist/sexist

Source: https://www.kaggle.com/datasets/arkhoshghalb/twitter-sentiment-analysis-hatred-speech

In [25]:
import pandas as pd

df1 = pd.read_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/Final Datasets/#1 Twitter Sentiment Analysis/train.csv")
df1.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [26]:
df1['label'].value_counts()

label
0    29720
1     2242
Name: count, dtype: int64

In [27]:
df1 = df1[['tweet', 'label']]
df1.columns = ['text', 'label']
df1.head()

                                                text  label
0   @user when a father is dysfunctional and is s...      0
1  @user @user thanks for #lyft credit i can't us...      0
2                                bihday your majesty      0
3  #model   i love u take with u all the time in ...      0
4             factsguide: society now    #motivation      0

### 2. HASOC 2019 (English)

Dataset Classes (label):

    TIN - Targeted Insult
    UNT - Untargeted 

NOTE: i extract column task 3 only data contains this and exlucded normal class data.

Source: https://hasocfire.github.io/hasoc/2019/dataset.html

In [16]:
import pandas as pd

df2 = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#2 HASOC-2019\english_dataset.tsv", sep='\t')
df2.head()

,text_id,text,task_1,task_2,task_3
0,hasoc_en_1,#DhoniKeepsTheGlove | WATCH: Sports Minister K...,NOT,NONE,NONE
1,hasoc_en_2,@politico No. We should remember very clearly ...,HOF,HATE,TIN
2,hasoc_en_3,@cricketworldcup Guess who would be the winner...,NOT,NONE,NONE
3,hasoc_en_4,Corbyn is too politically intellectual for #Bo...,NOT,NONE,NONE
4,hasoc_en_5,All the best to #TeamIndia for another swimmin...,NOT,NONE,NONE

In [17]:
df2['task_3'].value_counts()

task_3
NONE    3591
TIN     2041
UNT      220
Name: count, dtype: int64

In [18]:
df2 = df2[(df2['task_3'] == 'TIN') | (df2['task_3'] == 'UNT')][['text', 'task_3']]
df2.columns = ['text', 'label']
df2.head()

                                                 text label
1   @politico No. We should remember very clearly ...   TIN
7   #ADOS #trendingnow #blacklivesmatter #justice ...   TIN
11  I don’t know how much more I can take! 45 is a...   TIN
15  Good work @ICC keep going just destroy the who...   TIN
23  #ShameOnICC  1. ICC on Dhoni's gloves         ...   TIN

In [19]:
df2['label'].value_counts()

label
TIN    2041
UNT     220
Name: count, dtype: int64