### 1. Hate-speech-and-offensive-language

Source: https://github.com/t-davidson/hate-speech-and-offensive-language

In [1]:
import pandas as pd

df1 = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\#1 hate-speech-and-offensive-language\labeled_data.csv")
df1.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [2]:
df1['class'].value_counts()

class
1    19190
2     4163
0     1430
Name: count, dtype: int64

### 2. hate-speech-dataset

Source: https://github.com/Vicomtech/hate-speech-dataset

In [3]:
from tqdm import tqdm
import pandas as pd

temp = pd.read_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/#2 hate-speech-dataset/annotations_metadata.csv")

data = {}
for i in tqdm(temp['file_id']):
    text = open(f"G:/My Drive/Hate Speech_Multilingual/datasets/#2 hate-speech-dataset/all_files/{i}.txt", 'r', encoding='utf-8').read()

    data[i] = [text, temp[temp['file_id'] == i]['label'].values[0]]

df2 = pd.DataFrame.from_dict(data, orient='index', columns=['text', 'label'])
df2.head()

100%|██████████| 10944/10944 [04:24<00:00, 41.42it/s]

                                                         text   label
12834217_1  As of March 13th , 2014 , the booklet had been...  noHate
12834217_2  In order to help increase the booklets downloa...  noHate
12834217_3  ( Simply copy and paste the following text int...  noHate
12834217_4  Click below for a FREE download of a colorfull...    hate
12834217_5  Click on the `` DOWNLOAD ( 7.42 MB ) '' green ...  noHate

In [7]:
df2['label'].value_counts()

label
noHate      9507
hate        1196
relation     168
idk/skip      73
Name: count, dtype: int64

In [8]:
df2[df2['label'] == 'relation']['text'].values[0:5]

array(['You are telling me that 78 % of kids under 6 in Frankfurt are all foreigners ?',
       'Jeeze its worst than the UK .',
       "So far today I 've come across the words scum , slut and bitch .",
       'All too describe my sisters .',
       'The Indian teenager was showing the Caucasian American girl how to dissolve cow dung in water , and then use a broom to spread the filth all over the floor of their house .'],
      dtype=object)

In [9]:
df2[df2['label'] == 'idk/skip']['text'].values[0:5]

array(['Glædelig jul !',
       "Det er forresten en ting til Órkneyjar vil si deg , `` Tack så mycket . ''",
       'Jag har inte själv varit med någon gång men jag har stor respekt för de som deltar .',
       'Suomalainen totta kai !',
       'ApÃ © ro gÃ © ant : trois jeunes soupÃ § onnÃ © s de viol https : //www.stormfront.org/forum/t809905/'],
      dtype=object)

### 3. Twitter Sentiment Analysis

Source: https://www.kaggle.com/datasets/arkhoshghalb/twitter-sentiment-analysis-hatred-speech

In [10]:
import pandas as pd

df3 = pd.read_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/#3 Twitter Sentiment Analysis/train.csv")
df3.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [11]:
df3['label'].value_counts()

label
0    29720
1     2242
Name: count, dtype: int64

### 4. HASOC 2019

Source: https://hasocfire.github.io/hasoc/2019/dataset.html

In [12]:
import pandas as pd

df4 = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\#4 HASOC-2019\english_dataset.tsv", sep='\t')

df4.head()

,text_id,text,task_1,task_2,task_3
0,hasoc_en_1,#DhoniKeepsTheGlove | WATCH: Sports Minister K...,NOT,NONE,NONE
1,hasoc_en_2,@politico No. We should remember very clearly ...,HOF,HATE,TIN
2,hasoc_en_3,@cricketworldcup Guess who would be the winner...,NOT,NONE,NONE
3,hasoc_en_4,Corbyn is too politically intellectual for #Bo...,NOT,NONE,NONE
4,hasoc_en_5,All the best to #TeamIndia for another swimmin...,NOT,NONE,NONE

In [13]:
df4['task_1'].value_counts()

task_1
NOT    3591
HOF    2261
Name: count, dtype: int64

### 5. Roman_urdu_hate_speech Public

Source: https://github.com/haroonshakeel/roman_urdu_hate_speech

In [14]:
import pandas as pd

df5 = pd.read_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/#5 roman_urdu_hate_speech/task_1_train.tsv", sep='\t', header=None)
df5.columns = ['text', 'label']
df5.head()

                                                text  label
0         pichwara se akhrot kahe fod rahe ho chicha      1
1         bhaunk bhaunk ke pagal ho jaata ab tak....      0
2  shivsaina  nam mulla  saina  rakh  hijra  uddh...      0
3  there are some yahodi daboo like imran chore z...      0
4  chutiye ye hunduism ni he islam he , isme koi ...      0

In [15]:
df5['label'].value_counts()

label
1    3851
0    3358
Name: count, dtype: int64

### 6. A Curated Hate Speech Dataset

Source: https://data.mendeley.com/datasets/9sxpkmm8xn/1

In [16]:
import pandas as pd

df6 = pd.read_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/#6 A Curated Hate Speech Dataset/HSData/0_RawData/data_huang_devansh.csv", encoding='utf-8')
df6.head()

                                             Content  Label
0  `- This is not ``creative``.  Those are the di...      0
1  `  :: the term ``standard model`` is itself le...      0
2    True or false, the situation as of March 200...      0
3   Next, maybe you could work on being less cond...      0
4               This page will need disambiguation.       0

In [17]:
df6['Label'].value_counts()

Label
0    708641
1    133694
Name: count, dtype: int64

### 7. Cyberbully Detection Dataset

Source: https://www.kaggle.com/datasets/momo12341234/cyberbully-detection-dataset

In [18]:
import pandas as pd

df7 = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\#7 Cyberbully Detection Dataset\cb_multi_labeled_balanced.csv")
df7.head()

                                                text              label
0  @ZubearSays Any real nigga isn't letting this ...     ethnicity/race
1  @MoradoSkittle @prolifejewess @DAConsult @Kell...  not_cyberbullying
2        the only thing i wish, i wish a nigga would     ethnicity/race
3  You saudias are not friends of Muslim idiots c...           religion
4  @JaydenT2399 @TractorLaw @holmes_gael @erconge...           religion

In [19]:
df7['label'].value_counts()

label
not_cyberbullying    50000
ethnicity/race       17000
gender/sexual        17000
religion             15990
Name: count, dtype: int64

### 8. Multilingual and Multi-Aspect (MLMA) Hate Speech

In [21]:
import pandas as pd

df8 = pd.read_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/MLMA_hate_speech/hate_speech_mlma/en_dataset_with_stop_words.csv")
df8.head()

,HITId,tweet,sentiment,directness,annotator_sentiment,target,group
0,0,If America had another 8 years of Obama's ideo...,fearful_abusive_hateful_disrespectful_normal,indirect,anger_fear_shock_sadness_disgust,origin,other
1,1,Most Canadians have never met seen or associat...,offensive,indirect,sadness_indifference,disability,special_needs
2,2,Hahaha grow up faggot @URL,offensive,indirect,shock_disgust,sexual_orientation,women
3,3,@user queue is fucking retarded it makes every...,offensive_hateful,direct,shock_disgust,disability,special_needs
4,4,@user Que ce ne soit pas des Burundais refugie...,hateful_normal,indirect,shock_disgust,origin,other

In [39]:
df8['sentiment'].value_counts()

sentiment
offensive                                          2954
normal                                              661
hateful                                             315
offensive_hateful                                   252
offensive_disrespectful                             145
abusive_offensive                                   115
offensive_normal                                    114
hateful_disrespectful                                96
abusive_hateful                                      90
fearful_abusive_offensive_hateful_disrespectful      85
hateful_normal                                       79
disrespectful_normal                                 69
fearful_abusive_offensive_hateful_normal             62
fearful_offensive_hateful_disrespectful_normal       61
abusive_offensive_hateful_disrespectful_normal       53
fearful_abusive_offensive_disrespectful_normal       53
abusive_disrespectful                                50
fearful_abusive_hateful_disrespectful_normal         49
fearful_offensive                                    49
fearful_hateful                                      41
fearful_normal                                       37
abusive_normal                                       34
fearful_offensive_disrespectful_hateful_normal       28
fearful                                              28
abusive_offensive_disrespectful_hateful_normal       20
fearful_disrespectful                                20
fearful_abusive                                      17
fearful_abusive_disrespectful_hateful_normal         14
disrespectful                                        10
disrespectful_hateful                                 8
abusive_offensive_disrespectful_normal                5
abusive_offensive_hateful_normal                      4
fearful_abusive_hateful_normal                        4
abusive_offensive_hateful_disrespectful               4
offensive_hateful_disrespectful_normal                3
fearful_abusive_offensive_hateful                     3
fearful_abusive_offensive_normal                      2
fearful_offensive_hateful_normal                      2
fearful_abusive_offensive_disrespectful               2
abusive                                               1
abusive_disrespectful_hateful_normal                  1
fearful_hateful_disrespectful_normal                  1
fearful_abusive_disrespectful_normal                  1
offensive_hateful_disrespectful                       1
fearful_abusive_hateful_disrespectful                 1
fearful_offensive_disrespectful_normal                1
abusive_offensive_normal                              1
fearful_offensive_hateful_disrespectful               1
Name: count, dtype: int64

In [36]:
# 1.	Offensive: 
# •	offensive (2954)
# •	offensive_hateful (252)
# •	offensive_disrespectful (145)
# •	abusive_offensive (115)
# •	offensive_normal (114)
# Total: 2954 + 252 + 145 + 115 + 114 = 3580

# 2.	Normal (661)
# 3.	Hateful
# •	hateful (315)
# •	hateful_disrespectful (9)
# Total: 315 + 96 = 411


df9 = df8[(df8['sentiment'] == 'offensive') | (df8['sentiment'] == 'offensive_hateful') | (df8['sentiment'] == 'offensive_disrespectful') | (df8['sentiment'] == 'abusive_offensive') | (df8['sentiment'] == 'offensive_normal') | (df8['sentiment'] == 'normal') | (df8['sentiment'] == 'hateful') | (df8['sentiment'] == 'hateful_disrespectful')]

df9['sentiment'] = df9['sentiment'].replace(['offensive_hateful', 'offensive_disrespectful', 'abusive_offensive', 'offensive_normal'], 'offensive')
df9['sentiment'] = df9['sentiment'].replace(['hateful_disrespectful'], 'hateful')

df9['sentiment'].value_counts()

sentiment
offensive    3580
normal        661
hateful       411
Name: count, dtype: int64