### 1. Multilingual and Multi-Aspect (MLMA) Hate Speech

Dataset Classes (class, aspect(category)):

    class - contains (offensive, hateful and normal)
    aspect(category) - (Origin/Nationality, Gender/Sexual, Disability, Religion) 

Source: https://github.com/HKUST-KnowComp/MLMA_hate_speech/blob/master/hate_speech_mlma.zip

In [137]:
import pandas as pd

df1 = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#1 MLMA_hate_speech\hate_speech_mlma\en_dataset_with_stop_words.csv")
df1.head()

,HITId,tweet,sentiment,directness,annotator_sentiment,target,group
0,0,If America had another 8 years of Obama's ideo...,fearful_abusive_hateful_disrespectful_normal,indirect,anger_fear_shock_sadness_disgust,origin,other
1,1,Most Canadians have never met seen or associat...,offensive,indirect,sadness_indifference,disability,special_needs
2,2,Hahaha grow up faggot @URL,offensive,indirect,shock_disgust,sexual_orientation,women
3,3,@user queue is fucking retarded it makes every...,offensive_hateful,direct,shock_disgust,disability,special_needs
4,4,@user Que ce ne soit pas des Burundais refugie...,hateful_normal,indirect,shock_disgust,origin,other

In [138]:
df1 = df1[['tweet', 'sentiment', 'target']]
df1.columns = ['text', 'class', 'aspect(category)']
df1.head()

,text,class,aspect(category)
0,If America had another 8 years of Obama's ideo...,fearful_abusive_hateful_disrespectful_normal,origin
1,Most Canadians have never met seen or associat...,offensive,disability
2,Hahaha grow up faggot @URL,offensive,sexual_orientation
3,@user queue is fucking retarded it makes every...,offensive_hateful,disability
4,@user Que ce ne soit pas des Burundais refugie...,hateful_normal,origin

In [139]:
temp = df1[ (df1['class'] == 'normal') | (df1['class'] == 'hateful') | (df1['class'] == 'hateful_disrespectful')]

temp['class'] = temp['class'].replace(['hateful_disrespectful'], 'hateful')

df1 = temp.copy()
df1['class'].value_counts()

C:\Users\Abdul Manaf\AppData\Local\Temp\ipykernel_15976\4125406309.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['class'] = temp['class'].replace(['hateful_disrespectful'], 'hateful')

class
normal     661
hateful    411
Name: count, dtype: int64

In [140]:
df1.loc[df1['class'] == 'normal', 'aspect(category)'] = df1.loc[df1['class'] == 'normal', 'aspect(category)'].map(lambda x: ' ')
df1.head()

,text,class,aspect(category)
7,@user @user Btw. Are we now allowed to say \sh...,normal,
16,@user Are you okay with giving benefits to ill...,hateful,origin
38,@user Yes retarded not me your leader the pape...,hateful,disability
40,I\u2019m so done dealing with little bitches. ...,normal,
62,@user @user @user Babe Ruth was a dirty jew,hateful,origin

In [141]:
df1['aspect(category)'].value_counts()

aspect(category)
                      661
origin                205
disability             59
sexual_orientation     52
gender                 46
other                  44
religion                5
Name: count, dtype: int64

In [142]:
df1['aspect(category)'] = df1['aspect(category)'].map({
    'origin': 'Origin/Nationality',
    'religion': 'Religion',
    'disability': 'Disability',
    'sexual_orientation': 'Gender/Sexual',
    'gender': 'Gender/Sexual'
})
df1.head()

,text,class,aspect(category)
7,@user @user Btw. Are we now allowed to say \sh...,normal,NaN
16,@user Are you okay with giving benefits to ill...,hateful,Origin/Nationality
38,@user Yes retarded not me your leader the pape...,hateful,Disability
40,I\u2019m so done dealing with little bitches. ...,normal,NaN
62,@user @user @user Babe Ruth was a dirty jew,hateful,Origin/Nationality

In [143]:
df1['aspect(category)'].value_counts()

aspect(category)
Origin/Nationality    205
Gender/Sexual          98
Disability             59
Religion                5
Name: count, dtype: int64

In [144]:
df1['class'].value_counts()

class
normal     661
hateful    411
Name: count, dtype: int64

### 2. Cyberbully Detection Dataset

Dataset Classes (class, aspect(category)):

    class - contains (offensive, hateful and normal)
    aspect(category) - (Origin/Nationality, Gender/Sexual, Disability, Religion) 

Source: https://www.kaggle.com/datasets/momo12341234/cyberbully-detection-dataset

In [145]:
import pandas as pd

df2 = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#2 Cyberbully Detection Dataset\cb_multi_labeled_balanced.csv")
df2.head()

                                                text              label
0  @ZubearSays Any real nigga isn't letting this ...     ethnicity/race
1  @MoradoSkittle @prolifejewess @DAConsult @Kell...  not_cyberbullying
2        the only thing i wish, i wish a nigga would     ethnicity/race
3  You saudias are not friends of Muslim idiots c...           religion
4  @JaydenT2399 @TractorLaw @holmes_gael @erconge...           religion

In [146]:
df2['label'].value_counts()

label
not_cyberbullying    50000
ethnicity/race       17000
gender/sexual        17000
religion             15990
Name: count, dtype: int64

In [147]:
df2.columns = ['text', 'aspect(category)']
# df2 = df2[df2['aspect(category)'] != 'not_cyberbullying']

df2['aspect(category)'] = df2['aspect(category)'].map({
    'ethnicity/race': 'Race/Ethnicity',
    'religion': 'Religion',
    'gender/sexual': 'Gender/Sexual',
    'not_cyberbullying': 'normal'
})

df2['aspect(category)'].value_counts()

aspect(category)
normal            50000
Race/Ethnicity    17000
Gender/Sexual     17000
Religion          15990
Name: count, dtype: int64

In [148]:
df2['class'] = 'hateful'

df2.loc[df2['aspect(category)'] == 'normal', 'class'] = 'normal'
df2.loc[df2['aspect(category)'] == 'normal', 'aspect(category)'] = ' '

df2 = df2[['text', 'class', 'aspect(category)']]
df2.head()

                                                text    class aspect(category)
0  @ZubearSays Any real nigga isn't letting this ...  hateful   Race/Ethnicity
1  @MoradoSkittle @prolifejewess @DAConsult @Kell...   normal
2        the only thing i wish, i wish a nigga would  hateful   Race/Ethnicity
3  You saudias are not friends of Muslim idiots c...  hateful         Religion
4  @JaydenT2399 @TractorLaw @holmes_gael @erconge...  hateful         Religion

In [149]:
df2['class'].value_counts()

class
normal     50000
hateful    49990
Name: count, dtype: int64

In [150]:
df2['aspect(category)'].value_counts()

aspect(category)
                  50000
Race/Ethnicity    17000
Gender/Sexual     17000
Religion          15990
Name: count, dtype: int64

### 3. Twitter Sentiment Analysis
Dataset Classes (label):

    0 - normal
    1 - racist/sexist

Source: https://www.kaggle.com/datasets/arkhoshghalb/twitter-sentiment-analysis-hatred-speech

In [151]:
import pandas as pd
    
df3 = pd.read_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/Final Datasets/#3 Twitter Sentiment Analysis/train.csv")
df3['class'] = 'normal'
df3 = df3[df3['label'] != 1][['tweet', 'class']]
df3.head()

                                               tweet   class
0   @user when a father is dysfunctional and is s...  normal
1  @user @user thanks for #lyft credit i can't us...  normal
2                                bihday your majesty  normal
3  #model   i love u take with u all the time in ...  normal
4             factsguide: society now    #motivation  normal

In [152]:
df3['aspect(category)'] = ' '
df3.columns = ['text', 'class', 'aspect(category)']
df3['aspect(category)'].value_counts()

aspect(category)
     29720
Name: count, dtype: int64

In [153]:
df3.head()

                                                text   class aspect(category)
0   @user when a father is dysfunctional and is s...  normal
1  @user @user thanks for #lyft credit i can't us...  normal
2                                bihday your majesty  normal
3  #model   i love u take with u all the time in ...  normal
4             factsguide: society now    #motivation  normal

-------------

## Merging of datasets

In [240]:
df = pd.concat([df1, df2, df3])
df['aspect(category)'] = df['aspect(category)'].map(lambda x: ' ' if pd.isna(x) else x)
df.head()

,text,class,aspect(category)
7,@user @user Btw. Are we now allowed to say \sh...,normal,
16,@user Are you okay with giving benefits to ill...,hateful,Origin/Nationality
38,@user Yes retarded not me your leader the pape...,hateful,Disability
40,I\u2019m so done dealing with little bitches. ...,normal,
62,@user @user @user Babe Ruth was a dirty jew,hateful,Origin/Nationality

In [241]:
df = df[~((df['class'] == 'hateful') & (df['aspect(category)'] == ' '))]

In [242]:
df['class'].value_counts()

class
normal     80381
hateful    50357
Name: count, dtype: int64

Note: hatefull here also

In [243]:
df['aspect(category)'].value_counts()

aspect(category)
                      80381
Gender/Sexual         17098
Race/Ethnicity        17000
Religion              15995
Origin/Nationality      205
Disability               59
Name: count, dtype: int64

In [244]:
df.drop_duplicates(subset=['class', 'aspect(category)'])[['text', 'class', 'aspect(category)']]

,text,class,aspect(category)
7,@user @user Btw. Are we now allowed to say \sh...,normal,
16,@user Are you okay with giving benefits to ill...,hateful,Origin/Nationality
38,@user Yes retarded not me your leader the pape...,hateful,Disability
219,@user It\u2019s better than being a faggot,hateful,Gender/Sexual
940,casuallyfantastic2001: realisticrecovery: anyw...,hateful,Religion
0,@ZubearSays Any real nigga isn't letting this ...,hateful,Race/Ethnicity

In [245]:
df['class'] = df['class'].map({'normal': 0, 'hateful': 1})

In [247]:
import numpy as np

df_one_hot = pd.get_dummies(df, columns=['aspect(category)'], prefix='', prefix_sep='')

for column in df_one_hot.columns:
    if type(df_one_hot[column].values[0]) == np.bool_:
        df_one_hot[column] = df_one_hot[column].astype(int)

del df_one_hot[' ']
df_one_hot.head()

,text,class,Disability,Gender/Sexual,Origin/Nationality,Race/Ethnicity,Religion
7,@user @user Btw. Are we now allowed to say \sh...,0,0,0,0,0,0
16,@user Are you okay with giving benefits to ill...,1,0,0,1,0,0
38,@user Yes retarded not me your leader the pape...,1,1,0,0,0,0
40,I\u2019m so done dealing with little bitches. ...,0,0,0,0,0,0
62,@user @user @user Babe Ruth was a dirty jew,1,0,0,1,0,0

In [249]:
df.to_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/English_Curated_Dataset/english_curated(multi).csv", index=False)

In [250]:
df.to_csv(f"english_curated(multi).csv", index=False)