### 1. Twitter Sentiment Analysis

Dataset Classes (label):

    0 - normal
    1 - racist/sexist

Source: https://www.kaggle.com/datasets/arkhoshghalb/twitter-sentiment-analysis-hatred-speech

In [25]:
import pandas as pd

df1 = pd.read_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/Final Datasets/#1 Twitter Sentiment Analysis/train.csv")
df1.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [26]:
df1['label'].value_counts()

label
0    29720
1     2242
Name: count, dtype: int64

In [27]:
df1 = df1[['tweet', 'label']]
df1.columns = ['text', 'label']
df1.head()

                                                text  label
0   @user when a father is dysfunctional and is s...      0
1  @user @user thanks for #lyft credit i can't us...      0
2                                bihday your majesty      0
3  #model   i love u take with u all the time in ...      0
4             factsguide: society now    #motivation      0

### 2. HASOC 2019 (English)

Dataset Classes (label):

    TIN - Targeted Insult
    UNT - Untargeted 

NOTE: i extract column task 3 only data contains this and exlucded normal class data.

Source: https://hasocfire.github.io/hasoc/2019/dataset.html

In [16]:
import pandas as pd

df2 = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#2 HASOC-2019\english_dataset.tsv", sep='\t')
df2.head()

,text_id,text,task_1,task_2,task_3
0,hasoc_en_1,#DhoniKeepsTheGlove | WATCH: Sports Minister K...,NOT,NONE,NONE
1,hasoc_en_2,@politico No. We should remember very clearly ...,HOF,HATE,TIN
2,hasoc_en_3,@cricketworldcup Guess who would be the winner...,NOT,NONE,NONE
3,hasoc_en_4,Corbyn is too politically intellectual for #Bo...,NOT,NONE,NONE
4,hasoc_en_5,All the best to #TeamIndia for another swimmin...,NOT,NONE,NONE

In [17]:
df2['task_3'].value_counts()

task_3
NONE    3591
TIN     2041
UNT      220
Name: count, dtype: int64

In [18]:
df2 = df2[(df2['task_3'] == 'TIN') | (df2['task_3'] == 'UNT')][['text', 'task_3']]
df2.columns = ['text', 'label']
df2.head()

                                                 text label
1   @politico No. We should remember very clearly ...   TIN
7   #ADOS #trendingnow #blacklivesmatter #justice ...   TIN
11  I don’t know how much more I can take! 45 is a...   TIN
15  Good work @ICC keep going just destroy the who...   TIN
23  #ShameOnICC  1. ICC on Dhoni's gloves         ...   TIN

In [19]:
df2['label'].value_counts()

label
TIN    2041
UNT     220
Name: count, dtype: int64

### 3. Multilingual and Multi-Aspect (MLMA) Hate Speech

Dataset Classes (label):


Source: https://github.com/HKUST-KnowComp/MLMA_hate_speech/blob/master/hate_speech_mlma.zip

In [49]:
import pandas as pd

df3 = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#3 MLMA_hate_speech\hate_speech_mlma\en_dataset_with_stop_words.csv")
df3.head()

,HITId,tweet,sentiment,directness,annotator_sentiment,target,group
0,0,If America had another 8 years of Obama's ideo...,fearful_abusive_hateful_disrespectful_normal,indirect,anger_fear_shock_sadness_disgust,origin,other
1,1,Most Canadians have never met seen or associat...,offensive,indirect,sadness_indifference,disability,special_needs
2,2,Hahaha grow up faggot @URL,offensive,indirect,shock_disgust,sexual_orientation,women
3,3,@user queue is fucking retarded it makes every...,offensive_hateful,direct,shock_disgust,disability,special_needs
4,4,@user Que ce ne soit pas des Burundais refugie...,hateful_normal,indirect,shock_disgust,origin,other

In [50]:
df3 = df3[['tweet', 'sentiment', 'target']]
df3.columns = ['text', 'class', 'aspect(category)']
df3.head()

,text,class,aspect(category)
0,If America had another 8 years of Obama's ideo...,fearful_abusive_hateful_disrespectful_normal,origin
1,Most Canadians have never met seen or associat...,offensive,disability
2,Hahaha grow up faggot @URL,offensive,sexual_orientation
3,@user queue is fucking retarded it makes every...,offensive_hateful,disability
4,@user Que ce ne soit pas des Burundais refugie...,hateful_normal,origin

In [51]:
temp = df3[(df3['class'] == 'offensive') | (df3['class'] == 'offensive_hateful') | (df3['class'] == 'offensive_disrespectful') | (df3['class'] == 'abusive_offensive') | (df3['class'] == 'offensive_normal') | (df3['class'] == 'normal') | (df3['class'] == 'hateful') | (df3['class'] == 'hateful_disrespectful')]

temp['class'] = temp['class'].replace(['offensive_hateful', 'offensive_disrespectful', 'abusive_offensive', 'offensive_normal'], 'offensive')
temp['class'] = temp['class'].replace(['hateful_disrespectful'], 'hateful')

df3 = temp.copy()
df3['class'].value_counts()

C:\Users\Abdul Manaf\AppData\Local\Temp\ipykernel_17912\401278141.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['class'] = temp['class'].replace(['offensive_hateful', 'offensive_disrespectful', 'abusive_offensive', 'offensive_normal'], 'offensive')
C:\Users\Abdul Manaf\AppData\Local\Temp\ipykernel_17912\401278141.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['class'] = temp['class'].replace(['hateful_disrespectful'], 'hateful')

class
offensive    3580
normal        661
hateful       411
Name: count, dtype: int64

In [52]:
df3.head()

,text,class,aspect(category)
1,Most Canadians have never met seen or associat...,offensive,disability
2,Hahaha grow up faggot @URL,offensive,sexual_orientation
3,@user queue is fucking retarded it makes every...,offensive,disability
5,dude i\u2019m so tired of being retarded,offensive,disability
6,Pretty sure if an employee of Philip Green cal...,offensive,other

In [53]:
df3['aspect(category)'].value_counts()

aspect(category)
origin                2024
disability             920
other                  705
gender                 524
sexual_orientation     424
religion                55
Name: count, dtype: int64

In [54]:
df3['aspect(category)'] = df3['aspect(category)'].map({
    'origin': 'Origin/Nationality',
    'religion': 'Religion',
    'disability': 'Disability',
    'sexual_orientation': 'Gender/Sexual',
    'gender': 'Gender/Sexual'
})
df3.head()

,text,class,aspect(category)
1,Most Canadians have never met seen or associat...,offensive,Disability
2,Hahaha grow up faggot @URL,offensive,Gender/Sexual
3,@user queue is fucking retarded it makes every...,offensive,Disability
5,dude i\u2019m so tired of being retarded,offensive,Disability
6,Pretty sure if an employee of Philip Green cal...,offensive,NaN

In [55]:
df3['aspect(category)'].value_counts()

aspect(category)
Origin/Nationality    2024
Gender/Sexual          948
Disability             920
Religion                55
Name: count, dtype: int64

In [56]:
df3['class'].value_counts()

class
offensive    3580
normal        661
hateful       411
Name: count, dtype: int64