### 1. Multilingual and Multi-Aspect (MLMA) Hate Speech

Dataset Classes (class, aspect(category)):

    class - contains (offensive, hateful and normal)
    aspect(category) - (Origin/Nationality, Gender/Sexual, Disability, Religion) 

Source: https://github.com/HKUST-KnowComp/MLMA_hate_speech/blob/master/hate_speech_mlma.zip

In [67]:
import pandas as pd

df1 = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#1 MLMA_hate_speech\hate_speech_mlma\en_dataset_with_stop_words.csv")
df1.head()

,HITId,tweet,sentiment,directness,annotator_sentiment,target,group
0,0,If America had another 8 years of Obama's ideo...,fearful_abusive_hateful_disrespectful_normal,indirect,anger_fear_shock_sadness_disgust,origin,other
1,1,Most Canadians have never met seen or associat...,offensive,indirect,sadness_indifference,disability,special_needs
2,2,Hahaha grow up faggot @URL,offensive,indirect,shock_disgust,sexual_orientation,women
3,3,@user queue is fucking retarded it makes every...,offensive_hateful,direct,shock_disgust,disability,special_needs
4,4,@user Que ce ne soit pas des Burundais refugie...,hateful_normal,indirect,shock_disgust,origin,other

In [68]:
df1 = df1[['tweet', 'sentiment', 'target']]
df1.columns = ['text', 'class', 'aspect(category)']
df1.head()

,text,class,aspect(category)
0,If America had another 8 years of Obama's ideo...,fearful_abusive_hateful_disrespectful_normal,origin
1,Most Canadians have never met seen or associat...,offensive,disability
2,Hahaha grow up faggot @URL,offensive,sexual_orientation
3,@user queue is fucking retarded it makes every...,offensive_hateful,disability
4,@user Que ce ne soit pas des Burundais refugie...,hateful_normal,origin

In [69]:
temp = df1[ (df1['class'] == 'hateful') | (df1['class'] == 'hateful_disrespectful')]

temp['class'] = temp['class'].replace(['hateful_disrespectful'], 'hateful')

df1 = temp.copy()
df1['class'].value_counts()

C:\Users\Abdul Manaf\AppData\Local\Temp\ipykernel_15976\1901797253.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['class'] = temp['class'].replace(['hateful_disrespectful'], 'hateful')

class
hateful    411
Name: count, dtype: int64

In [70]:
df1.head()

,text,class,aspect(category)
16,@user Are you okay with giving benefits to ill...,hateful,origin
38,@user Yes retarded not me your leader the pape...,hateful,disability
62,@user @user @user Babe Ruth was a dirty jew,hateful,origin
98,@user i look retarded,hateful,disability
101,So damn retarded \ud83e\udd26\ud83c\udffd\u200...,hateful,disability

In [71]:
df1['aspect(category)'].value_counts()

aspect(category)
origin                205
disability             59
sexual_orientation     52
gender                 46
other                  44
religion                5
Name: count, dtype: int64

In [72]:
df1['aspect(category)'] = df1['aspect(category)'].map({
    'origin': 'Origin/Nationality',
    'religion': 'Religion',
    'disability': 'Disability',
    'sexual_orientation': 'Gender/Sexual',
    'gender': 'Gender/Sexual'
})
df1.head()

,text,class,aspect(category)
16,@user Are you okay with giving benefits to ill...,hateful,Origin/Nationality
38,@user Yes retarded not me your leader the pape...,hateful,Disability
62,@user @user @user Babe Ruth was a dirty jew,hateful,Origin/Nationality
98,@user i look retarded,hateful,Disability
101,So damn retarded \ud83e\udd26\ud83c\udffd\u200...,hateful,Disability

In [73]:
df1['aspect(category)'].value_counts()

aspect(category)
Origin/Nationality    205
Gender/Sexual          98
Disability             59
Religion                5
Name: count, dtype: int64

In [74]:
df1['class'].value_counts()

class
hateful    411
Name: count, dtype: int64

### 2. Cyberbully Detection Dataset

Dataset Classes (class, aspect(category)):

    class - contains (offensive, hateful and normal)
    aspect(category) - (Origin/Nationality, Gender/Sexual, Disability, Religion) 

Source: https://www.kaggle.com/datasets/momo12341234/cyberbully-detection-dataset

In [75]:
import pandas as pd

df2 = pd.read_csv(f"G:\My Drive\Hate Speech_Multilingual\datasets\Final Datasets\#2 Cyberbully Detection Dataset\cb_multi_labeled_balanced.csv")
df2.head()

                                                text              label
0  @ZubearSays Any real nigga isn't letting this ...     ethnicity/race
1  @MoradoSkittle @prolifejewess @DAConsult @Kell...  not_cyberbullying
2        the only thing i wish, i wish a nigga would     ethnicity/race
3  You saudias are not friends of Muslim idiots c...           religion
4  @JaydenT2399 @TractorLaw @holmes_gael @erconge...           religion

In [76]:
df2.columns = ['text', 'aspect(category)']
df2 = df2[df2['aspect(category)'] != 'not_cyberbullying']

df2['aspect(category)'] = df2['aspect(category)'].map({
    'ethnicity/race': 'Race/Ethnicity',
    'religion': 'Religion',
    'gender/sexual': 'Gender/Sexual',
})

df2['aspect(category)'].value_counts()

aspect(category)
Race/Ethnicity    17000
Gender/Sexual     17000
Religion          15990
Name: count, dtype: int64

In [77]:
df2['class'] = 'hateful'
df2 = df2[['text', 'class', 'aspect(category)']]
df2.head()

                                                text    class aspect(category)
0  @ZubearSays Any real nigga isn't letting this ...  hateful   Race/Ethnicity
2        the only thing i wish, i wish a nigga would  hateful   Race/Ethnicity
3  You saudias are not friends of Muslim idiots c...  hateful         Religion
4  @JaydenT2399 @TractorLaw @holmes_gael @erconge...  hateful         Religion
5  @areyalldizzy @soobroll wait its so bad………. th...  hateful   Race/Ethnicity

### 3. Twitter Sentiment Analysis
Dataset Classes (label):

    0 - normal
    1 - racist/sexist

Source: https://www.kaggle.com/datasets/arkhoshghalb/twitter-sentiment-analysis-hatred-speech

In [78]:
import pandas as pd
    
df3 = pd.read_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/Final Datasets/#3 Twitter Sentiment Analysis/train.csv")
df3['class'] = 'normal'
df3 = df3[df3['label'] != 1][['tweet', 'class']]
df3.head()

                                               tweet   class
0   @user when a father is dysfunctional and is s...  normal
1  @user @user thanks for #lyft credit i can't us...  normal
2                                bihday your majesty  normal
3  #model   i love u take with u all the time in ...  normal
4             factsguide: society now    #motivation  normal

In [79]:
df3['aspect(category)'] = ' '
df3.columns = ['text', 'class', 'aspect(category)']
df3['aspect(category)'].value_counts()

aspect(category)
     29720
Name: count, dtype: int64

In [80]:
df3.head()

                                                text   class aspect(category)
0   @user when a father is dysfunctional and is s...  normal
1  @user @user thanks for #lyft credit i can't us...  normal
2                                bihday your majesty  normal
3  #model   i love u take with u all the time in ...  normal
4             factsguide: society now    #motivation  normal

-------------

## Merging of datasets

In [81]:
df = pd.concat([df1, df2, df3])
df.head()

,text,class,aspect(category)
16,@user Are you okay with giving benefits to ill...,hateful,Origin/Nationality
38,@user Yes retarded not me your leader the pape...,hateful,Disability
62,@user @user @user Babe Ruth was a dirty jew,hateful,Origin/Nationality
98,@user i look retarded,hateful,Disability
101,So damn retarded \ud83e\udd26\ud83c\udffd\u200...,hateful,Disability

In [82]:
df['class'].value_counts()

class
hateful    50401
normal     29720
Name: count, dtype: int64

In [83]:
df['aspect(category)'].value_counts()

aspect(category)
                      29720
Gender/Sexual         17098
Race/Ethnicity        17000
Religion              15995
Origin/Nationality      205
Disability               59
Name: count, dtype: int64

In [84]:
df.drop_duplicates(subset=['class', 'aspect(category)'])[['text', 'class', 'aspect(category)']]

,text,class,aspect(category)
16,@user Are you okay with giving benefits to ill...,hateful,Origin/Nationality
38,@user Yes retarded not me your leader the pape...,hateful,Disability
170,I'm sick of seeing your face on my news feed y...,hateful,NaN
219,@user It\u2019s better than being a faggot,hateful,Gender/Sexual
940,casuallyfantastic2001: realisticrecovery: anyw...,hateful,Religion
0,@ZubearSays Any real nigga isn't letting this ...,hateful,Race/Ethnicity
0,@user when a father is dysfunctional and is s...,normal,

In [85]:
df.to_csv(f"G:/My Drive/Hate Speech_Multilingual/datasets/English_Curated_Dataset/english_curated(multi).csv", index=False)

In [86]:
df.to_csv(f"english_curated(multi).csv", index=False)